* {
    box-sizing: border-box;
}

:root {
    --orange: hsl(25, 100%, 50%);
    --light-orange: hsl(25, 91%, 57%);
    --dark-orange: hsl(25, 88%, 46%);
    --white: hsl(0, 0%, 100%);
    --light-grey: hsl(217, 12%, 63%);
    --medium-grey: hsl(216, 12%, 54%);
    --dark-blue: hsl(213, 19%, 18%);
    --very-dark-lue: hsl(216, 12%, 8%);
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Overpass', sans-serif;
    font-size: 15px;
    font-weight: 400;
    background-color: var(--very-dark-lue);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0 20px;
}

.card {
    max-width: 370px;
    background: linear-gradient(hsl(213, 19%, 18%) -30%, hsl(216, 12%, 6%) 170%);
    border-radius: 20px;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.3);
    padding: 30px;
}

.card .card-top p {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-blue);
    padding: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50px;
}

.card .card-content h2 {
    font-size: 26px;
    font-weight: 700;
    color: var(--white);
    margin: 20px 0;
    line-height: 1.3;
}

.card .card-content p  {
    margin: 0;

    font-size: 15px;
    font-weight: 300;
    color: var(--light-grey);
}

.card .card-ratings {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}

.card .card-ratings .card-rating {
    width: 50px;
    height: 50px;
}

.card .card-ratings label {
    position: relative;
}

.card .card-ratings label input {
    position: absolute;
    opacity: 0;
}

.card .card-ratings label .checkmark {
    position: absolute;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;

    background-color: var(--dark-blue);
    border: none;
    border-radius: 50px;

    color: var(--white);
    transition: all 0.1s ease-in;
    cursor: pointer;
    
}

.card .card-ratings label .checkmark:hover {
    background-color: var(--light-orange);
}

.card .card-submit {
    background-color: var(--orange);
    border-radius: 50px;
    display: block;
    width: 100%;
    padding: 10px 20px;

    font-size: 15px;
    font-weight: 700;
    color: var(--white);
    text-align: center;

    transition: all 0.2s ease-in;
    cursor: pointer;
}

.card .card-submit:hover {
    background-color: var(--dark-orange);
}

.card .card-ratings label input:checked ~ .checkmark {
    background-color: var(--orange);
}

.card-rate {
    display: none;
}

.card.card-result .card-top {
    text-align: center;
}

.card.card-result .card-top p {
    margin: 40px auto;
    padding: 5px 10px;
    max-width: 250px;
    width: 100%;
    color: var(--light-orange);
}

.card.card-result h2 {
    text-align: center;
    margin-bottom: 10px;
}

.card.card-result p {
    text-align: center;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}